/* Application-wide Styles */


@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.title {
  position:relative;
}

body {
  margin: 2em;
}

h1 {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
    color: rgb(69, 176, 248);
    font-family: 'Special Elite', cursive;
    font-weight: lighter;
    font-size: 300%;
    padding: 10px;
    width: 35%;
    border-radius: 10px;
    box-shadow: rgba(62, 150, 238, 0.5) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.5) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    animation: puls 2s linear infinite;
  }




  h1::before {
    content: '';
    position: absolute;
    left:28%;
    width:42%;
    height:20%;
    background-color: rgba(62,150,238,0.5);
    filter: blur(20px);
  }

  @keyframes puls {
    0% { color: rgb(25, 162, 253);}
    50% { color: white; font-size: 320%; }
    100% { color: rgb(22, 157, 247); }
  }


  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
 
  input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia, serif;
  }
 

  a {
    text-decoration: none;
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    font-weight: bold;
    color: rgb(24, 137, 250);
    transition: 0.5s;
    margin-left: 40px;
  }

  a:hover{
    color: rgb(159, 207, 255);
    transition: 1s;
  }

  .navig {
    padding-top: 150px;
  }
  