
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');


button {
        background-color: #333;
        color:rgb(69, 176, 248);
        font-weight: 700;
        cursor: pointer;
        margin-left: 40px;
}


h2 {
        margin-top: 50px;
        margin-left: 40px;
        font-size: 200%;
        color: rgb(69, 176, 248);
        font-family: 'Special Elite', cursive;
        letter-spacing: 2px;
        font-weight: lighter;
        padding-top: 25px;
}

.identifiant {
        margin-left: 40px;
        color : #f1f1f1;
        font-weight: 600;
        font-family: 'Architects Daughter', cursive;
        letter-spacing: 2px;
        padding-bottom: 15px;

}

.monster-desc {
        margin-left: 40px;
        width: 600px;
        font-family: 'Architects Daughter', cursive;
        color: rgb(108, 192, 248);
        font-size: 20px;
        font-weight: 700;
        margin-top: 40px;
        margin-bottom: 10px;
        letter-spacing: 2px;

}

label{
        color: #f1f1f1;
        font-family: 'Special Elite', cursive;
        font-weight: 700;
        margin: 10px;
        margin-left: 40px;
}

input {
        margin-left: 40px;
        padding: .5rem;
        border-radius: 8px;
        font-family: 'Architects Daughter', cursive;
        font-size: 14px;
        font-weight: 800;
        letter-spacing: 1px;
      }

      .wrapper {
              height: 550px;
              background-color: rgba(59, 67, 97, 0.589);
              border-radius: 10px;
              padding-bottom: 25px;
      }

.monster-picture {
        position: absolute; 
        margin-left: 60%;
        width: 350px;
        height: 400px;
        border-radius: 10px;
}